<h4 class="sub_title"><b>Terms of Use Agreement</b></h4>
<div id="terms_menu">
  <a href="#terms"></a>
  <a href="#acceptable_use"></a>
  <a href="#privacy"></a>
  <a href="#acknowledgments"></a>
</div>
<div class="clear"></div> <a name="terms"></a>
<p> By using the this website (the "Website"), all participants and users ("you") agree to be bound by this Terms of Use Agreement (this "Agreement"), whether or not you become a donor or otherwise participate. </p>

<p> This Agreement may be modified by Nativity Prep from time to time and such modifications will become part of this Agreement and will be effective once posted by Nativity Prep on the Website. You should review the Website and this Agreement from time to time for any modifications. Your use of the Website and participation in the Program will be subject to any modifications of this Agreement by Nativity Prep. </p>

<p> For purposes of this Agreement, "Nativity Prep” means Nativity Prep, its officers, directors, agents, employees, partners, and all of their affiliates. </p>

<a name="acceptable_use"></a><h2>Acceptable Use</h2>

<p> The Website is for use in connection with fundraising by Nativity Prep and may not be used by you in connection with any other commercial endeavors. Use of the Website and participation in the Program shall be in strict compliance with this Agreement, Nativity Prep Privacy Policy, all other procedures and guidelines set forth on the Website and applicable law. You may not engage in advertising to, or solicitation of, any User, Partner, Borrower or any other Person to buy or sell any products or services through the Website. You may not transmit any chain letters or junk email to any User, Partner, Borrower or any other Person. Illegal and/or unauthorized uses of the Website, including collecting the name, email address or any other personal or confidential information of any User, Partner, Borrower or any other Person by electronic or other means for any reason, including, without limitation, the purpose of sending unsolicited email and unauthorized framing of or linking to the Website, will be investigated and appropriate legal action will be taken, including, without limitation, civil, criminal and injunctive redress. </p>

<p> Although Nativity Prep assumes no obligation to monitor the conduct of any User of the Website, it is a violation of this Agreement to use any information obtained from the Website in order to harass, abuse, or harm another person, or in order to contact, advertise to, solicit, or sell to any User, Partner, or other Person without their prior explicit consent. In order to protect such persons from such advertising or solicitation, Focus Nativity Prep reserves the right to restrict the addition of groups and/or number of messages posted that a User may send through the Website in any 24-hour or other period to a number that Nativity Prep deems appropriate, at Nativity Prep sole and absolute discretion. </p>

<a name="privacy"></a> <h2>Privacy Policy</h2>

<p> This website is owned and operated by Connect2Need and is licensed to Nativity Prep for their use. Each reserves the right to change their policy at any time. We recognize that visitors to this site may be concerned about the information they provide to us, and how we treat that information. At Nativity Prep we value your support and we are committed to protecting your privacy. The purpose of this policy is to share with you how we collect and use the information you provide us concerning your privacy. </p>

<p> Nativity Prep respects the privacy of its online visitors. At our site, we do not collect personally identifiable information from individuals unless they provide it to us voluntarily and knowingly. </p>

<p> Nativity Prep assures you that the identity of all who contact us through this website is kept confidential: we do not rent, sell, or exchange our mailing lists and we will always strive to be responsible in our management, truthful in our advertising, and cost-effective in our fund raising. </p>

<ul>
  <li> We do not share your personal information with any third party including telemarketing centers. We do not use telephone marketing to solicit funds. Your phone number is used only to contact you if we need to verify order information and occasionally to thank you for your contribution.
  </li>
  <li> We may disclose to third parties aggregate statistics regarding donations, but these statistics do not include any personally identifying information. The information given includes: total number of donors, total amount of donations for specific periods of time, and referring websites. Aggregate information of this kind is used to encourage fundraising partnerships.
  </li>
  <li> We use a third-party financial institution (“Processing Center”) to process the credit card transactions. The Processing Center receives the credit card number and other personal information of our donors only to verify credit card numbers and to process credit card transactions in a secure environment. The Processing Center’s state-of-the-art encryption technology offers the highest level of security available on the Internet today to insure the confidentiality of your transactions.
  </li>
</ul>

<h2>Information Collection</h2>

<p> When you visit this site, we collect some non-identifying basic information. This includes total number of visitors, pages viewed, and other non-identifying information. We use this aggregate information to improve our site and to make your experience on our website as smooth as possible. </p>

<p> Donations and purchases made on-line to us are protected by an encryption method. When you make a donation on-line, we ask for your name, address, daytime phone, e-mail address, and credit card information. We use your information to process your donation(s) and to verify credit card data. We use your mailing address to send your tax-deductible receipt(s) and to keep you informed about what we are doing through various mailings. Your phone number is used only to contact you if we need to verify order information and occasionally to thank you for your contribution. We do not use your phone number to do telephone solicitations. If you make a donation in honor of some (friend or loved one), we will not use the “honorees” information for any solicitation purposes. </p>

<h2>Cookies</h2>

<p> Like most websites, a "cookie" is a small piece of data stored on your computer's hard drive when you visit our website. Nativity Prep uses cookies to analyze our website's overall traffic patterns and improve our visitors' online experience. We do not use cookies to store or collect any personal information. Many browsers provide an option to block or remove cookies. You can visit our website successfully while blocking cookies, but leaving cookies enabled in your browser will help us to improve our site's usability and effectiveness. </p>

<h2>Log Files</h2>

<p> Like most standard website servers, we use log files. This includes internet protocol (IP) addresses, browsers, internet service providers (ISPs), referring pages and exit pages, operating platforms, date/time stamp, and number of clicks to analyze trends, administer the site, track visitor's movement in the aggregate, and gather broad demographic information for aggregate use. IP addresses are only linked to personally identifiable information when online credit card transactions are conducted (i.e. when publications are purchased or donations made). We do not share individual information gathered through log files with third parties. </p>

<h2>Links</h2>

<p> This website contains links to other sites. Please be aware that we, Nativity Prep, have no control over and are not responsible for the contents or privacy practices of such other sites. We encourage our visitors to be aware when they leave our site and to read the privacy statements of each and every website that collects personally identifiable information. This privacy statement applies solely to information collected by this website. </p>

<h2>Note to Parents</h2>

<p> We are pleased when young people (under legal age) visit the website of Nativity Prep to learn more about the organization. Nativity Prep does not knowingly solicit data from under-legal-age persons and does not knowingly market to them. Persons under legal age should obtain parental consent before placing a monetary transaction on our site. </p>

<h2>Notification of Changes</h2>

<p> Any changes to our Privacy Policy will be posted to our website. </p>

<p> Nativity Prep maintains a policy to discontinue contacting any person upon that person's oral or written request directed to us.
 If you have any questions about this privacy statement, the practices of this site, or your dealings with this website, you can contact us at: </p>
 <p> <strong><em>Nativity Prep Academy </em></strong> <br/>2755 55th Street<br/>San Diego, CA 92105<br/>619.544.9455<br/> Email: delc@nativityprep.org
</p>
