// Place all the styles related to the Needs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posted_date {
  margin: 26px 0 0 10px;
}

.image {
  float: left;
}

.progress {
  width: 350px;
}


#donation_amount {
  width: 100px;
  height: 40px;
}
